<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action = "" method = "post">
         Fish Name: <input type = "text" name = "fish_name">
        
         <input type = "submit" value = "Submit">
      </form>
</body>
</html>