<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>

<body>
<script type="text/javascript" src="ejs_production.js"></script>
	<h1><%= title %></h1>
	<form action ="" method = "post">
         Fish Name: <input type = "text" id="fish_name" name ="fish_name">
        
         <input type = "submit" value = "Submit">
    </form>
    
</body>
</html>